@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Home") {

 <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/home">Home</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/create">Create TODO</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/impressum">Impressum</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="main">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th>
              <div class="row">
                <div class="col-md-10" align="center"><h2>TODOS</h2>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
         <script type='text/javascript' src='@routes.Assets.versioned("js/home.js")'></script>
            
        </tbody>
      </table>
    </div>
  </div>

}